@{
    ViewBag.Title = "Where";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NavIndex = 6;
}
@using TradeForce.Models;
@model List<country>
<div class="ban01">
    <img src="/Content/Img/whereToBuy_banner.jpg" />
</div>
<div class="main-bd">
    <h2 class="crumbs">Home  > Support > Where to buy</h2>
    <dl class="global-locations">
        <dt>Global Locations</dt>
        <dd>
            <p>Headquartered in Switzerland, TRADEFROCE’s global reach and presence enable a better service to the customers. Besides manufacturing, marketing, logistics, services, research and development (R&D) and related facilities, TRADEFORCE collaborate with professional dealers all around the world. </p>
        </dd>
    </dl>
    <dl class="global-locations gl2" id="map">
        <dt>Where to buy</dt>
        <dd>
            <p>Reach out to TRADEFORCE distribution partners to purchase.</p>
        </dd>
    </dl>
</div>
<div class="select-country">
    <div class="main-bd">
        <dl class="worldwide">
            <dt>TRADEFORCE  Worldwide</dt>
            @*<dd>All adresses and contacts</dd>*@
        </dl>
        <dl class="selectCountry">
            <dt>Select country</dt>
            <dd>
                <div class="select-box">
                    <label>Please Choose</label>
                    <ul>
                        <li data-country="Please Choose">Please Choose</li>
                        @foreach (var it in Model)
                        {
                            var li = it.Country1.Split(',');
                            if (li.Length == 2)
                            {
                                <li data-country="@it.Country1"><a href="@it.Url" target="_blank"><span>@li[0]</span>@li[1]</a></li>
                            }
                        }
                    </ul>
                </div>
                @*<select id="selectCountry">
                    <option>Please Choose</option>
                    @foreach (var it in Model)
                    {
                        <option value="@it.Url" onclick="window.open('@it.Url','_blank')">@it.Country1</option>
                    }
                </select>*@
            </dd>
        </dl>
    </div>
</div>
<div class="contact-foot">
    <img src="/Content/Img/contact/contact_foot.jpg" />
</div>
<style>
    .contact-foot img { width: 100%; vertical-align: middle; }
    .global-locations { padding-top: 40px }
    .global-locations dt { font-family: 'acuminproextracondblod'; font-size: 48px }
    .global-locations dd { font-size: 18px; line-height: 26px }
    .global-locations dd p { padding-top: 20px }
    .select-country { height: 699px; background: url(/Content/Img/whereToBuy_map.jpg) no-repeat center; }
    .select-country .main-bd { height: 580px;}
    .gl2 { padding-top: 120px; padding-bottom: 18px }
    .gl2 dd p { padding-top: 5px }
    .worldwide { padding-left: 35px; color: #fff }
    .worldwide dt { font-family: 'acuminproextracondblod'; font-size: 48px; padding-top: 92px }
    .worldwide dd { font-size: 20px; padding-top: 25px }
    .selectCountry { padding-left: 35px; padding-top: 140px }
    .selectCountry dt { color: #fff; font-family: 'acuminprosemicondblod'; font-size: 30px; padding-bottom: 13px }
    .selectCountry select { width: 360px; height: 46px; font-size: 20px; color: #333; padding-left: 15px; border: 1px solid #b6bcc0 }
    .select-box { width: 360px; height: 46px; line-height: 46px; font-size: 20px; color: #333; padding-left: 12px; border: 1px solid #b6bcc0; background: #fff; position: relative }
    .select-box:hover { border-color: #00c4b3 }
    .select-box > label { display: block; cursor: pointer }
    .select-box > label:after { content: ''; float: right; border-top: 6px solid #666; border-left: 6px solid transparent; border-right: 6px solid transparent; margin-top: 18px; margin-right: 8px; transition: all .3s }
    .select-box.open > label:after { transform: rotate(180deg); }
    .select-box > ul { position: absolute; left: 0; right: 0; top: 46px; background: #fff; display: none }
    .select-box > ul li { padding-left: 12px; line-height: 34px; }
    .select-box > ul li a { display: block; }
    .select-box > ul li a > span { display: inline-block; width: 140px }
    .select-box > ul li a:hover { color: #00c4b3 }
</style>
<script>
    $("#selectCountry").change(function () {
        window.open($("#selectCountry").val(),'_blank')
    })
    $(".select-box>label").click(function () {
        $(".select-box>ul").slideToggle();
        $(".select-box").toggleClass("open");
    })
    $(".select-box > ul li").click(function () {
        $(".select-box>label").text($(this).data("country"));
        $(".select-box>ul").slideUp();
    })
</script>